@model IEnumerable<Game>
@{
    var title = ViewData["Section"] as string;

    int count = 1;
}
<div class="list-col">
    <div class="list-col-header">
        <div class="list-col-title">
            @title
        </div>
        <a href="#" class="section-link" style="font-size:11.5px">See all</a>
    </div>

    @foreach (var game in @Model.ToList() ?? Enumerable.Empty<Game>())
    {
        <div class="list-item">
            <a asp-controller="home" asp-action="app" asp-route-id="@game.Id">
                <div class="list-rank">@(count++)</div>
                <div class="list-item-thumb art-war" style="border-radius:9px">
                    <img src="@game.HeaderImage" alt="@game.Name" class="h-full w-full object-cover" />
                </div>
                <div class="list-item-info">
                    <div class="list-item-name">@game.Name</div>
                    <div class="list-item-sub">
                        @string.Join(" · ", game.Tags.Take(3))
                    </div>
                </div>
                <div class="list-item-right">
                    @if (game.Price != 0)
                    {
                        <div class="list-item-price">$@game.Price</div>
                        <div class="list-item-badge lb-paid">Released</div>
                    }
                    else
                    {
                        <div class="list-item-price free">Free</div>
                        <div class="list-item-badge lb-free">F2P</div>
                    }
                </div>
            </a>
        </div>
    }

</div>


